In [2]:
import pandas as pd
import os, sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
import scripts.preprocessing.selection.feature_selection as feature_selection
import scripts.preprocessing.cleaning.cleaning as cleaning
import scripts.preprocessing.outliers.outliers as outliers
import scripts.preprocessing.scaling.scaling as scaling
import scripts.preprocessing.encoding.encoding as encoding

In [5]:
df = pd.read_csv('../data/en.openfoodfacts.org.products.csv', delimiter='\t')

/tmp/ipykernel_286/3905698127.py:1: DtypeWarning: Columns (0,8,13,19,20,21,22,23,27,28,29,31,32,40,41,42,52,55,64,66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/en.openfoodfacts.org.products.csv', delimiter='\t')

In [6]:
feature_selection.feature_selection(df)

No feature selection method has been provided

In [7]:
df = df.drop(columns=['pnns_groups_1', 'pnns_groups_2'])

In [8]:
df.sample(10)

,code,brands_tags,countries_tags,energy-kcal_100g,fat_100g,saturated-fat_100g,carbohydrates_100g,sugars_100g,proteins_100g,salt_100g,sodium_100g,nutrition-score-fr_100g
1660122,8004263675991,pam-panorama,en:italy,296.000000,8.5,3.8,41.000000,3.1,1.400000,5.500000,2.200000,NaN
458134,0810023540014,NaN,en:united-states,3.571429,0.0,0.0,3.571429,0.0,17.857143,1.339286,0.535714,NaN
1593357,7640104952053,holle,"en:spain,en:switzerland",387.000000,2.8,0.6,80.300000,0.7,8.600000,0.005000,0.002000,-1.0
1653457,8003170082090,conad,en:italy,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN
1531207,7350039933095,NaN,en:france,19.000000,0.0,0.0,4.600000,4.6,0.000000,0.000000,0.000000,NaN
1372788,5060088701942,nakd,en:france,386.000000,15.1,3.1,49.400000,45.3,9.400000,0.100000,0.040000,12.0
1748982,8051732790099,NaN,en:italy,24.000000,54.0,26.0,22.000000,0.5,11.000000,NaN,NaN,NaN
821888,3256477074403,n-nature,en:france,405.000000,24.9,16.0,39.400000,31.2,5.100000,0.320000,0.128000,NaN
1260898,4209260002205,bird-and-blend,en:manchester,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1540240,7501791664110,great-value,en:spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df1 = df

In [10]:
for col in ['energy-kcal_100g', 'fat_100g',
       'saturated-fat_100g', 'carbohydrates_100g', 'sugars_100g',
       'proteins_100g', 'salt_100g', 'sodium_100g']:
       cleaning.clean_by_impute(df1, method='median', column=col)

In [11]:
df1.sample(10)

,code,brands_tags,countries_tags,energy-kcal_100g,fat_100g,saturated-fat_100g,carbohydrates_100g,sugars_100g,proteins_100g,salt_100g,sodium_100g,nutrition-score-fr_100g
826651,3257986550600,cora,en:france,459.0,18.000000,5.700000,66.000000,27.000000,5.800000,0.40000,0.160000,16.0
1543056,75925306391,crystal-farms,en:united-states,393.0,28.570000,17.860000,7.140000,0.000000,25.000000,1.63322,0.653288,NaN
413329,7143762,zatarain-s,en:france,260.0,7.000000,1.800000,15.100000,3.570000,6.000000,0.58000,0.232000,NaN
1822407,8414500200310,celgan,en:spain,176.0,1.500000,1.000000,4.500000,4.500000,2.600000,0.10000,0.040000,1.0
990145,3560070377657,carrefour,en:france,275.0,14.000000,5.400000,24.000000,16.000000,11.000000,1.50000,0.600000,3.0
1799257,8411485900075,legio,en:spain,439.0,37.000000,25.900000,1.000000,0.100000,25.000000,1.80000,0.720000,17.0
1250170,4099100144239,NaN,en:united-states,62.5,3.333333,2.083333,4.583333,4.583333,3.333333,0.12500,0.050000,NaN
766686,3170870006024,NaN,en:france,260.0,7.000000,1.800000,15.100000,3.570000,6.000000,0.58000,0.232000,NaN
1219215,4056489010234,lidl,"en:germany,en:poland",38.0,0.400000,0.100000,5.800000,5.400000,1.900000,0.05000,0.020000,-7.0
1088619,3760060284716,NaN,en:france,260.0,7.000000,1.800000,15.100000,3.570000,6.000000,0.58000,0.232000,NaN

In [12]:
df1 = df1.drop(columns=['brands_tags', 'countries_tags', 'nutrition-score-fr_100g'])

In [13]:
from sklearn.cluster import KMeans

In [14]:
model = KMeans().fit(df1)

In [15]:
model.cluster_centers_

array([[2.26031067e+38, 5.28725617e+07, 5.77366726e+07, 4.85307041e+04,
        4.85522917e+04, 4.86075730e+07, 4.85345972e+04, 4.85282272e+04,
        1.94112909e+04],
       [6.50998313e+55, 2.60000000e+02, 7.00000000e+00, 1.80000000e+00,
        1.51000000e+01, 3.57000000e+00, 6.00000000e+00, 5.80000000e-01,
        2.32000000e-01],
       [8.45085148e+55, 2.60000000e+02, 7.00000000e+00, 1.80000000e+00,
        1.51000000e+01, 3.57000000e+00, 6.00000000e+00, 5.80000000e-01,
        2.32000000e-01],
       [1.20027087e+46, 2.60000000e+02, 7.00000000e+00, 1.80000000e+00,
        1.51000000e+01, 3.57000000e+00, 6.00000000e+00, 5.80000000e-01,
        2.32000000e-01],
       [1.93230892e+46, 2.60000000e+02, 7.00000000e+00, 1.80000000e+00,
        1.51000000e+01, 3.57000000e+00, 6.00000000e+00, 5.80000000e-01,
        2.32000000e-01],
       [1.10038483e+46, 2.60000000e+02, 7.00000000e+00, 1.80000000e+00,
        1.51000000e+01, 3.57000000e+00, 6.00000000e+00, 5.80000000e-01,
        2.32000000e-01],
       [1.98713246e+44, 2.60000000e+02, 7.00000000e+00, 1.80000000e+00,
        1.51000000e+01, 3.57000000e+00, 6.00000000e+00, 5.80000000e-01,
        2.32000000e-01],
       [1.34013795e+43, 2.60000000e+02, 7.00000000e+00, 1.80000000e+00,
        1.51000000e+01, 3.57000001e+00, 6.00000000e+00, 5.80000000e-01,
        2.32000000e-01]])